.container {
	width: 80%;
}
.items-title {
	text-align: center;
}

.item {
	margin: 30px auto 0;
	width: 200px;
	height: 350px;
	border: 1px solid #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.item--paragraph {
	margin-top: 10px;
	text-align: center;
}
.item--Amount{
	width: 100%;
}

