a {
	text-decoration: none;
	color: #ffff !important;
	margin: 0 10px;
}
a:hover {
	color: rgba(255, 255, 255, 0.4) !important;
}
.container {
	text-transform: uppercase;
	font-size: 20px;
}

.navbar-logo {
	background-image: url("/src/Img/mate.png");
	width: 50px;
	height: 45px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.navbar-title {
	text-transform: none;
	font-size: 30px;
}

.dropdown-menu a {
	color: black !important;
}
