.countArea {
	padding: 5px;
	margin: 3px 0;
	width: 100%;
	background-color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.countArea-number {
	display: flex;
	align-items: center;
}
.countArea-number p {
	margin: 0 3px;
}
.item--button {
	margin: 5px 0;
}
.alerta {
	font-size: 12px;
}
